.movieItem {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.movieItem img {
    width: 100%;
    border-radius: 8px;
}

.movieDetails {
    padding: 10px 0;
}

.movieReleaseDate {
    color: orangered;
    font-size: 18px;
    font-weight: bold;
}

