.movieItem {
    width: 200px;
    margin: 10px;
    text-align: center;
}

.movieItem img {
    width: 100%;
    border-radius: 8px;
}

.movieDetails {
    padding: 10px;
}

.movieTitle {
    font-size: 20px;
    margin: 5px 0;
}

.movieReleaseDate {
    color: #585454;
    font-size: 18px;
}

