.nav {
    background-color: #1a0977;
    padding: 10px;
}

.navList {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    justify-content: space-around;
}

.navItem {
    margin: 0;
}

.navLink,
.navLinkActive {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navLinkActive {
    font-weight: bold;
    color: red;
}