.movieDetailsPage {
    padding: 20px;
}

.movieDetails {
    display: flex;
    align-items: flex-start;
}

.movieDetails img {
    margin-right: 20px;
    width: 300px;
}

.movieNav {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

.movieNav a {
    margin-right: 10px;
    text-decoration: none;
    color: #00f;
}

.movieNav a.active {
    font-weight: bold;
    color: red;
}

.loading {
    text-align: center;
}

.error {
    color: red;
}

.backBtn {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.backBtn:hover {
    background-color: #0056b3;
}

